name: Docker Image CI


on:
  push:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Prepare tag
      run: echo "::set-env name=date::$(date +'%Y-%m-%d')"
    - name: Build
      run: |
        docker build --tag petko8/node-test:${{env.date}} .
        docker run --publish 7000:7000 --detach --name node-test petko8/node-test:${{env.date}} 
        docker ps
        compgen -c
        
    - name: Push the image
      if: ${{ success() }}
      run: docker push petko8/node-test:${{env.date}}
